
selecteur element */
 h1{
  color : red;
  background-color:yellow;
}
h2{
  color:green;
  background-color:yellow;

}
b{
  background-color: blue;
  color:white;
  padding: 10px;
}
p, span{
  background-color: red;
  color:white;
  padding: 10px;
}


/* header h1,
header p,
header span,
header a,
header button{
  color:red;
} */


header :is(h1,p,span,a,button){
  color: blue; 
}




/* selecteur class */
.titre-1{
  /* color:black; */
}

/* selecteur class id  */

